<h1>Edit Person</h1>
<%= form_for @people do |p| %>
  <%= p.label :first_name %>
  <%= p.text_field :first_name %>
 
  <%= p.label :last_name %>
  <%= p.text_field :last_name %>
 
  <%= p.label :age %>
  <%= p.text_field :age %>
 
  <%= p.label :hair_color %>
  <%= p.text_field :hair_color %>
 
  <%= p.label :eye_color %>
  <%= p.text_field :eye_color %>
 
  <%= p.label :gender %>
  <%= p.text_field :gender %>
 
  <%= p.label :alive %>
  <%= p.text_field :alive %>

  <%= p.submit %>
<% end %>