<h1><%= @people.full_name %></h1>
<h4>Age: <%= @people.age %></h4>
<h4>Hair Color: <%= @people.hair_color %></h4>
<h4>Eye Color: <%= @people.eye_color %></h4>
<h4>Gender: <%= @people.gender %></h4>
<h4>Alive: <%= @people.alive %></h4>
<%= link_to "Back", people_path %>